body {
  padding-top: 50px;
}

/* Flatten das boostrap */
.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, 
.modal, .add-on, .alert, .table-bordered, .nav>.active>a, .nav-tabs>li>a, .dropdown-menu, 
.tooltip-inner, .badge, .label, .img-polaroid {
  -moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border-collapse: collapse !important;
	background-image: none !important;
}

.navbar {
  -webkit-box-shadow: 1px 1px 2px 1px #ccc;
  -moz-box-shadow: 1px 1px 2px 1px #ccc;
  box-shadow: 1px 1px 2px 1px #ccc;
}

.main {	
	text-align: center;
	color: #333;
}

.title {	
	font-family: 'Pacifico', cursive;	
}

.main p {
	padding: 10px 0px;
}

.main .input-group {
	text-align: left;
	width: 60%;
	margin: auto;
}

.main .input-group .input-group-btn {
	width: 60px;
}

.btn-yellow {
  color: #333;
  background: #fff;
}

.btn-yellow:hover {
  background: #ff6;
}

.heart {
	color: #f00;
}

.footer {
	position: absolute;
	bottom: 0px;
	text-align: right;
	padding: 10px;	
	width: 100%;
}

 
@media only screen and (max-width : 480px) {
	.main .input-group {
		width: 90%;
	}
}
